<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
    </head>
    <body>
        <h1>Create a New Post</h1>

        <form action = "/create/new" method = "post">
            <label for = "aname">Name</label><input type = "text" name = "aname" id = "nameInput">
            <br>
            <label for = "title">Title</label><input type = "text" name = "title" id = "titleInput">
            <br>
            <label for = "date">Date</label><input type = "text" name = "date" id = "dateInput">
            <br>
            <label for = "post">Write Post</label>
            <br>
            <textarea id="postText" name="post" rows="30" cols="60">

            </textarea>
            <input type = "submit" value = "submit">
        </form>
    </body>
</html>