<DOCTYPE html!>
    <html>
        <head>
            <title>Video App: Home page</title>
        
        </head>

        <body>
            <h3>Video Uploader and Viewer</h3>
            <a href = "/upload">upload</a>
            <br>
            <a href = "/viewall">ViewAll</a>
            <br>
            <a href = "/create">Create</a>
            <br>
            <a href = "/read">Read</a>
            <br>
            <a href = "/update">Update</a>
            <br>
            <a href = "/delete">Delete</a>
        </body>
    </html>
</DOCTYPE>