<!DOCTYPE html>
<html>
    <head>
        <title>Upload</title>
    </head>
    <body>
        <h1>upload a new piece of media</h1>

        <form action = "/upload/new" method = "post" enctype=multipart/form-data>
            <label for = "name">Name</label><input type = "text" name = "name" id = "nameInput">
            <br>
            <label for = "title">Title</label><input type = "text" name = "title" id = "titleInput">
            <br>
            <label for = "date">Date</label><input type = "text" name = "date" id = "dateInput">
            <br>
            <label for = "imgupload" >Upload</label>
            <input type = "file" name = "imgupload" id = "imgInput" accept="image/*|video/*">
            <br>
            <label for = "desc">Write Post</label>
            <br>
            <textarea id="postText" name="desc" rows="20" cols="60">

            </textarea>
            <input type = "submit" value = "submit">
        </form>
    </body>
</html>